grpc:
  server:
    port: 50052
    address: "::"
pm:
  pdp:
    admin:
      bootstrap-file-path: "./src/admin-pdp-epp/src/main/resources/bootstrap.pml"
      neo4j-db-path: "neo4j/data"
      esdb-consumer-group: admin-pdp-epp-cg
      snapshot-interval: 1000
      shutdown-after-bootstrap: false
      plugins-dir: "./plugins/plugins"
    esdb:
      hostname: localhost
      port: 2113
      event-stream: pm-events-v1
      snapshot-stream: pm-snapshot-v1
management:
  health:
    neo4j:
      enabled: false